- DataFrame
    - مجموعه‌ای از چند سریز هستند
    - series1 + series2 + ...

In [ ]:
import pandas as pd
import numpy as np

## create

In [ ]:
# create with dict
df = pd.DataFrame(
    data={
        "City": ["sarakhs", "mashhad", "tehran"],
        "Country": ["Khorasan", "Khorasan", "Tehran"],
        "Population": [3_000, 8_000_000, 20_000_000]
    }
)

df

In [ ]:
# چرخوندن دیتافریم
df.transpose()

In [ ]:
# create with numpy
r = np.random.randint(1, 100, [3, 5])
df = pd.DataFrame(
    data=r,
    # تنظیم ردیف
    index=["one", "two", "three"],
    # تنظیم ستون
    columns=["A", "B", "C", "D", "E"]
)

df

In [ ]:
nba = pd.read_csv(
    "./files/nba.csv",
    parse_dates=["Birthday"]
)

nba

## get formats

dtypes

In [ ]:
# dtypes
nba.dtypes

ردیف‌ها

In [ ]:
nba.index

ستون‌ها

In [ ]:
nba.columns

ساختارش

In [ ]:
nba.shape

سایزش
- with na

In [ ]:
nba.size

سایزش
- without nan, nat
    - nan: not a nomber
    - nat: not a time

In [ ]:
nba.count().sum()

تعداد یونیک‌ها

In [ ]:
nba.nunique()

بزرگترین‌ها و کوچکترین‌های دیتافریم

In [ ]:
nba.nlargest(2, "Salary")

In [ ]:
nba.nsmallest(2, "Salary")

sum

In [ ]:
nba.sum(
    # sum just numbers
    numeric_only=True
)

Sort

In [ ]:
nba.sort_values(by=["Position", "Birthday"], ascending=[False, True])

In [ ]:
nba.sort_index(
    ascending=False,
    # sort columns
    axis=1
)

## Modify

<h3>set index</h3>

In [ ]:
nba2 = nba.set_index(keys="Name")

nba2

<h3>Slicing</h3>
get series of ech columns

In [ ]:
nba.Salary

In [ ]:
nba["Salary"]

In [ ]:
# multi col
nba[["Birthday", "Salary"]]

گرفتن ستون‌ها با دی‌تایپ مشخص

In [ ]:
nba.select_dtypes(include="object")

In [ ]:
nba.select_dtypes(exclude="object")

## location

In [ ]:
nba2.loc["Christian Wood"]

In [ ]:
nba2.loc[["Christian Wood", "Harry Giles"]]

In [ ]:
nba3 = nba2.sort_index()

nba3.loc["Abdel Nader":"Admiral Schofield"]

#### iloc

In [ ]:
nba3.iloc[2:7]

## at
- faster of loc

In [ ]:
nba.at[2, "Birthday"]

In [ ]:
nba3.at["Admiral Schofield", "Birthday"]

### iat

In [ ]:
nba.iat[15, 3]

## change columns name

In [ ]:
nba.columns = ["Name", "Team", "Position", "Birthday", "Pay"]

nba

In [ ]:
nba.rename(
    columns={
        "Salary": "Pay"
    },
    inplace=True
)

nba

## برگرداندن ایندکس‌ها به حالت اولیه
- یا ریست کردنشون

In [ ]:
nba3.reset_index(inplace=True)

nba3

In [ ]:
# change index
nba3.set_index("Team", inplace=True)

nba3